
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuSidebar.cshtml";
}

<h2>Index</h2>

<li>@Html.ActionLink("English", "Change", "Language", new { strLanguageAbbrevation = "en" }, null)</li>
<li>@Html.ActionLink("Romana", "Change", "Language", new { strLanguageAbbrevation = "ro" }, null)</li>

