<article id="featured" class="section-wrapper clearfix" data-custom-background-img="/assets/images/other_images/bg3.jpg">
    <div class="content-wrapper clearfix">
        <div class="col-sm-11 pull-right">
            <h1 class="section-title">Featured</h1>

            <!-- feature columns -->
            <section class="feature-columns row clearfix">
                <!-- feature 3 -->
                <article class="feature-col col-md-4">
                    <a href="" onclick="populate_and_open_modal(event, 'modal-content-8', '', 'full-size');" class="thumbnail linked">
                        <div class="image-container">
                            <img data-img-src="/assets/images/other_images/project-4.jpg" class="lazy item-thumbnail" alt="Lorem Ipsum">
                        </div>
                        <div class="caption">
                            <h5>Alternate Gallery</h5>
                            <p>Inside this feature's popup you'll find an alternative version of an image gallery.</p>
                        </div><!-- .caption -->
                    </a><!-- .thumbnail -->
                    <div class="content-to-populate-in-modal" id="modal-content-8">
                        <h1>Sed scelerisque</h1>
                        <p>Nullam ac rhoncus. Aliquam adipiscing eros non elit imperdiet congue. Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio</a>, sit amet. Adipiscing eros non elit imperdiet congue tiam at ligula sit amet arcu.</p>
                        <!-- alt image slider inside popup -->
                        <div id="unique-id-for-alt-image-slider" class="owl-carousel popup-alt-image-gallery">
                            <div class="item"><a href="/assets/images/other_images/bg1.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/images/other_images/gallery-thumb-1.jpg"></a></div>
                            <div class="item"><a href="/assets/images/other_images/bg2.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/images/other_images/gallery-thumb-2.jpg"></a></div>
                            <div class="item"><a href="/assets/images/other_images/bg3.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/images/other_images/gallery-thumb-3.jpg"></a></div>
                            <div class="item"><a href="/assets/images/other_images/bg4.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/images/other_images/gallery-thumb-4.jpg"></a></div>
                            <div class="item"><a href="/assets/images/other_images/bg5.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/images/other_images/gallery-thumb-5.jpg"></a></div>
                            <div class="item"><a href="/assets/images/other_images/bg6.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/images/other_images/gallery-thumb-6.jpg"></a></div>
                            <div class="item"><a href="/assets/images/other_images/bg2.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/images/other_images/gallery-thumb-2.jpg"></a></div>
                            <div class="item"><a href="/assets/images/other_images/bg3.jpg" data-lightbox="popup-alt-gallery"><img class="lazyOwl" data-src="/assets/images/other_images/gallery-thumb-3.jpg"></a></div>
                        </div>
                    </div><!-- #modal-content-8 -->
                </article>
            </section><!-- end: .feature-columns -->
            <!-- End: Section content to edit -->
        </div><!-- .col-sm-10 -->
    </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->
