<article id="tabs" class="section-wrapper clearfix" data-custom-background-img="assets/images/background_images/backgroundGrey.jpg">
    <div class="content-wrapper mid-vertical-positioning clearfix">
        <div class="col-sm-10 col-md-9 pull-right">
            <h1 class="section-title">Servicii</h1>
            <div class="tabpanel styled-tabs uniform-height" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" text-hidden-xs="true">
                    <li role="presentation" class="active"><a href="#tabs-tab1" aria-controls="tabs-tab1" role="tab" data-toggle="tab"><i class="icon fa fa-diamond"></i><span>Documente</span></a></li>
                    <li role="presentation"><a href="#tabs-tab2" aria-controls="tabs-tab2" role="tab" data-toggle="tab"><i class="icon fa fa-train"></i><span>Proiectare</span></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabs-tab1">
                        <img src="assets/images/other_images/tabs-icon1.png" class="pull-right hidden-xs">
                        <p>
                            Obtinem certificate de urbanism, avize si acorduri, autorizatii de construire.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-tab2">
                        <img src="assets/images/other_images/tabs-icon3.png" class="pull-right hidden-xs">
                        <p>Oferim servicii complete de proiectare in colaborare cu ingineri topografi, geotehnicieni, structuristi, ingineri pentru instalatii, drumuri, experti tehnici.</p>
                    </div>
                </div><!-- .tab-content -->
            </div><!-- .tabpanel -->
        </div><!-- .col-sm-10 -->
    </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->
