@{
   ViewBag.Title = "Home Page";
}
<div id="outer-container">
    <section id="main-content" class="clearfix">
        @{ Html.RenderPartial("_Intro"); }

        @{ Html.RenderPartial("_Featured"); }
    </section>

</div>